.menu {
    min-width: 30vw;
}

.big-choice {
    width: 25vw;
    height: 2vw;
    font-size: 2vw;
    padding: none;
    margin: none;
}

.streak-container {
    right: 50%;
    bottom: 55%;
    width: 25vh;
}

.streak-container-2 {
    transform: translate(35vh, 0vh);
    animation-name: bulge-2;
    animation-duration: 2s;
}
.streak-container-3 {
    transform: translate(40vh, 0vh);
    animation-name: bulge-3;
    animation-duration: 2s;
}
.streak-container-4 {
    transform: translate(50vh, 0vh);
    animation-name: bulge-4;
    animation-duration: 2s;
}
@keyframes bulge-2 {
    0% { transform: scale(2.5) translate(20%, 0%); opacity: 0.4; }
    100% { transform: scale(1) translate(35vh, 0vh); opacity: 1; }
}
@keyframes bulge-3 {
    0% { transform: scale(2.5) translate(25%, 0%); opacity: 0.4; }
    100% { transform: scale(1) translate(40vh, 0vh); opacity: 1; }
}
@keyframes bulge-4 {
    0% { transform: scale(2.5) translate(35%, 0%); opacity: 0.4; }
    100% { transform: scale(1) translate(50vh, 0vh); opacity: 1; }
}


.perfect-container {
    left: 50%;
    bottom: 55%;
    width: 25vh;
}

.perfect-container-2 {
    transform: translate(-35vh, 0vh);
    animation-name: perfectSlideLeft-2;
    animation-duration: 2s;
}
.perfect-container-3 {
    transform: translate(-40vh, 0vh);
    animation-name: perfectSlideLeft-3;
    animation-duration: 2s;
}
.perfect-container-4 {
    transform: translate(-50vh, 0vh);
    animation-name: perfectSlideLeft-4;
    animation-duration: 2s;
}
@keyframes perfectSlideLeft-2 {
    0% { transform: translate(0vh, 0vh) scale(2); }
    10% { transform: translate(0vh, 0vh) scale(2); }
    100% { transform: translate(-35vh, 0vh) scale(1); }
}
@keyframes perfectSlideLeft-3 {
    0% { transform: translate(0vh, 0vh) scale(2); }
    10% { transform: translate(0vh, 0vh) scale(2); }
    100% { transform: translate(-40vh, 0vh) scale(1); }
}
@keyframes perfectSlideLeft-4 {
    0% { transform: translate(0vh, 0vh) scale(2); }
    10% { transform: translate(0vh, 0vh) scale(2); }
    100% { transform: translate(-50vh, 0vh) scale(1); }
}

.close-tutorial {
    position: fixed;
    top: 5vh;
    left: 10vh;
    color: gray;
    font-size: 2vh;
    font-family: sans-serif;
    text-shadow: 0px 0px 1px lightgray;
}

.tutorial-step {
    position: fixed;
    background-color: lightgray;
    box-shadow: 0px 0px 5px darkgray;
    border-radius: 2.5vh;
    color: rgb(90, 90, 90);
    font-size: 2vh;
    padding: 2vh;
    font-family: sans-serif;
    opacity: 0.9;
    width: 40vh;
    z-index: 2;
}

.tutorial-button {
    background-color: blue;
    padding: 1vh;
    font-size: 2.5vh;
    font-family: sans-serif;
    color: lightblue;
    border-radius: 1vh;
    width: 25vh;
    text-align: center;
    cursor: pointer;
}

.tutorial-arrow-right {
    height: 0vh;
    width: 0vh;
    border-left: 5vh solid blue;
    border-top: 1.75vh solid transparent;
    border-bottom: 1.75vh solid transparent;
}

.tutorial-arrow-left {
    height: 0vh;
    width: 0vh;
    border-right: 5vh solid blue;
    border-top: 1.75vh solid transparent;
    border-bottom: 1.75vh solid transparent;
}

.tutorial-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#calibrator {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 40vh;
    min-height: 50vh;
    /* transform: translate(-50%, -50%); */
    font-size: 2.5vh;
    font-family: sans-serif;
    align-items: center;
    background-color: orange;
    z-index: 10;
    border-radius: 2vh;
    text-align: center;
}
.calibrate-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;
}
.info-text {
    font-size: 4vh;
    width: 100%;
    text-align: center;
    margin-top: 2vh;
}
.calibrate-button {
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slower-arrow {
    width: 2vh;
    height: 2vh;
    border-left: 0.75vh solid darkgray;
    border-top: 0.75vh solid darkgray;
    transform: rotate(-45deg) translate(15%, 15%);
}
#faster-arrow {
    width: 2vh;
    height: 2vh;
    border-bottom: 0.75vh solid darkgray;
    border-right: 0.75vh solid darkgray;
    transform: rotate(-45deg) translate(-15%, -15%);
}
#manual-delay-display {
    font-size: 3vh;
    width: 24vw;
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#calibrate-curtain {
    position: fixed;
    left: 0vw;
    top: 0vh;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 50%;
    z-index: 9;
}

#flashy-thing-container {
    position: relative;
    width: 200%;
    height: 15vh;
    /* background-color: blue; */
    margin-top: 2vh;
    transform: translate(-25%, 0%);
}

#flashy-stick-upper {
    position: absolute;
    left: 50%;
    top: 0%;
    height: 30%;
    transform: translate(-50%, 0%);
}

#flashy-stick-middle {
    position: absolute;
    top: 30%;
    height: 40%;
    transform: translate(-50%, 0%);
}

#flashy-stick-lower {
    position: absolute;
    left: 50%;
    top: 70%;
    height: 30%;
    transform: translate(-50%, 0%);
}

.calibration-stick {
    width: 3vw;
    background-color: rgb(0, 150, 0);
    border-right: 0.5vw solid rgb(0, 107, 0);
    border-left: 0.5vw solid rgb(0, 107, 0);
}

.flashy-stick-active {
    background-color: rgb(0, 235, 0);
    box-shadow: -2vw 1.5vw 8vw rgb(0, 235, 0), 2vw 1.5vw 8vw rgb(0, 235, 0);
}

